body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

p:has(> .popout-image) {
  margin-left: calc((-100vw + 100%) / 2);
  width: 100vw;

  @media (min-width: 768px) {
    padding-top: 1.5rem /* 24px */;
    padding-bottom: 1.5rem /* 24px */;
  }

  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
}

.popout-image {
  margin: auto;
  width: 1080px;
  max-width: 100%;
}

#attend table {
  max-width: 850px;
}
